@import url("https://fonts.googleapis.com/css?family=Nunito:400,900");
  .progress_inner #step-1:checked + input + input + input + input + div + div + div + div > .box_base, .progress_inner #step-5:checked + div + div + div + div > .box_base, .progress_inner #step-4:checked + input + div + div + div + div > .box_base, .progress_inner #step-3:checked + input + input + div + div + div + div > .box_base, .progress_inner #step-2:checked + input + input + input + div + div + div + div > .box_base {
    top: 50%;
    left: 0px;
    opacity: 1;
  }
  .progress_inner #step-1:checked + input + input + input + input + div + div + div + div > .box_item, .progress_inner #step-5:checked + div + div + div + div > .box_item, .progress_inner #step-4:checked + input + div + div + div + div > .box_item, .progress_inner #step-3:checked + input + input + div + div + div + div > .box_item, .progress_inner #step-2:checked + input + input + input + div + div + div + div > .box_item {
    top: -30px;
    left: 0px;
    opacity: 0;
  }
  
  .progress_inner #step-2:checked + input + input + input + div + div + div + div > .box_lid, .progress_inner #step-5:checked + div + div + div + div > .box_lid, .progress_inner #step-4:checked + input + div + div + div + div > .box_lid {
    top: -20px;
    left: 0px;
    opacity: 0;
  }
  .progress_inner #step-2:checked + input + input + input + div + div + div + div > .box_item, .progress_inner #step-5:checked + div + div + div + div > .box_item, .progress_inner #step-4:checked + input + div + div + div + div > .box_item {
    top: -10px;
    left: 0px;
    opacity: 1;
  }
  
  .progress_inner #step-3:checked + input + input + div + div + div + div > .box_item, .progress_inner #step-5:checked + div + div + div + div > .box_item, .progress_inner #step-4:checked + input + div + div + div + div > .box_item {
    top: 10px;
    left: 0px;
    opacity: 1;
  }
  .progress_inner #step-3:checked + input + input + div + div + div + div > .box_lid, .progress_inner #step-5:checked + div + div + div + div > .box_lid, .progress_inner #step-4:checked + input + div + div + div + div > .box_lid {
    top: -1px;
    left: 0px;
    opacity: 1;
  }
  .progress_inner #step-3:checked + input + input + div + div + div + div > .box_ribbon, .progress_inner #step-5:checked + div + div + div + div > .box_ribbon, .progress_inner #step-4:checked + input + div + div + div + div > .box_ribbon {
    top: 70%;
    left: 0px;
    opacity: 0;
  }
  .progress_inner #step-3:checked + input + input + div + div + div + div > .box_bow, .progress_inner #step-5:checked + div + div + div + div > .box_bow, .progress_inner #step-4:checked + input + div + div + div + div > .box_bow {
    top: 0px;
    left: 0px;
    opacity: 0;
  }
  
  .progress_inner #step-4:checked + input + div + div + div + div > .box_ribbon, .progress_inner #step-5:checked + div + div + div + div > .box_ribbon {
    top: 50%;
    left: 0px;
    opacity: 1;
  }
  .progress_inner #step-4:checked + input + div + div + div + div > .box_bow, .progress_inner #step-5:checked + div + div + div + div > .box_bow {
    top: -10px;
    left: 0px;
    opacity: 1;
  }
  
  .progress_inner #step-5:checked + div + div + div + div > .box_tag {
    top: 10px;
    left: 20px;
    opacity: 1;
  }
  .progress_inner #step-5:checked + div + div + div + div > .box_string {
    top: 10px;
    left: 20px;
    opacity: 1;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .progress_inner__status .box_string, .progress_inner__status .box_tag, .progress_inner__status .box_bow__right, .progress_inner__status .box_bow__left, .progress_inner__status .box_bow, .progress_inner__status .box_ribbon, .progress_inner__status .box_item, .progress_inner__status .box_base, .progress_inner, .progress_inner__step:before {
    left: 0;
    right: 0;
    top: 26%;
    transform: translateY(-50%);
    margin: auto;
  }
  
  .progress_inner__bar--set, .progress_inner__bar {
    height: 6px;
    left: 10%;
    background: repeating-linear-gradient(45deg, #1ea4ec, #1ea4ec 4px, #1f8bc5 4px, #1f8bc5 10px);
    transition: width 800ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
    border-radius: 6px;
    width: 0;
    position: relative;
    z-index: -1;
  }
  
  .progress_inner__step:before {
    width: 30px;
    height: 30px;
    color: #70afd0;
    background: white;
    line-height: 30px;
    border: 3px solid #a6cde2;
    font-size: 12px;
    top: 3px;
    border-radius: 100%;
    transition: all 0.4s;
    cursor: pointer;
    position: absolute;
    pointer-events: none;
  }
  
  .progress_inner__step {
    width: 20%;
    font-size: 14px;
    padding: 0 10px;
    transition: all 0.4s;
    float: left;
    text-align: center;
    position: relative;
  }
  .progress_inner__step label {
    padding-top: 50px;
    top: -20px;
    display: block;
    position: relative;
    cursor: pointer;
  }
  .progress_inner__step:hover {
    color: white;
  }
  .progress_inner__step:hover:before {
    color: white;
    background: #1ea4ec;
  }
  
  .progress_inner {
    display: none;
    position: relative;
    height: 200px;
    width: 700px;
  }
  
  .progress_inner__step:nth-of-type(1):before {
    content: "1";
  }
  .progress_inner__step:nth-of-type(2):before {
    content: "2";
  }
  .progress_inner__step:nth-of-type(3):before {
    content: "3";
  }
  .progress_inner__step:nth-of-type(4):before {
    content: "4";
  }
  .progress_inner__step:nth-of-type(5):before {
    content: "5";
  }
  .progress_inner__bar--set {
    width: 80%;
    top: -6px;
    background: #70afd0;
    position: relative;
    z-index: -2;
  }
  .progress_inner__tabs .tab ul {
    list-style: none;
  }
  
  .progress_inner__tabs .tab li:hover {
    background: #70afd0;
  }

  .progress_inner__tabs .tab li {
    background: #9cabb3;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
  }

  .progress_inner__tabs .tab {
    display: none;
    color: #000;
    position: absolute;
    min-width: 100%;
    top: 40px;
    text-align: center;
    margin-top: 80px;
    box-shadow: 0px 2px 1px #80b7d5;
    padding: 30px;
    background: white;
    border-radius: 10px;
    transition: all 0.2s;
  }
  .progress_inner__tabs .tab h1 {
    margin: 0;
  }
  .progress_inner__tabs .tab p {
    font-weight: 400;
    opacity: 0.8;
  }
  
  .progress_inner input[type=radio] {
    display: none;
  }